@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Oxanium', Sans-serif;
    background: #4E54C8;
}

/*div super*/

#super {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

/*title*/

div#super header h1 {
    color: #FFF;
    font-size: 30px;
}

/*Menu*/

header h1 {
    border-bottom: 3px solid #000;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    list-style: none;
}

#menu ul li {
    display: inline;
}

.link {
    padding: 2px 5px;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*Box with flex-box attribute*/

#main {
    color: #FFF;
    font-size: 16px;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px dashed #CCC;
    width: 300px;
    height: 300px;
    margin-left: 100px;
}

.block {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 0px 0px 0px 0px / 0px 0px 0px 0px;
    background: #6A0DAD;
}

#topLeft, #topRight, #downLeft, #downRight {
    margin: 5px;
    width: 150px;
    height: 20px;
}

/*Clipboard*/

#clip {
    color: #FFF;
    margin-top: 5px;
    font-size: 18px;
}

#clip input {
    height: 30px;
}

.button {
    background: #8F98FC;
    width: 75px;
    font-size: 18px;
    margin-right: 50px;
    border: 0px;
    border-radius: 0% 10% 10% 0%;
    padding: 3px 5px 6px 5px;
}

/*footer*/

footer {
    height: 25px;
    width: 100%;
    background-color: #8F98FC;
    text-align: center;
    position: absolute;
    bottom: 0;
}